/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
/* Styling for all pages */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header_item {
  height: 50px;
  width: 400px;
  margin-left: 15px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  clear: both;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}


.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list_item-active {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #007064;
}

a:visited {
  color: #05676e;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: rgba(255, 255, 255, 0.938);
  text-decoration: none;
  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of  solid, and a color in rgba format */
  border-bottom: 2px solid rgba (0,0,0,0.3);
}

button:hover, button:focus {
  /*lets the mouse appear as a hand when hovering over the button}*/
  cursor: pointer;
  /*reduces the opacity of the button to 80%*/
  opacity: 0.8;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* Styling for index.html page */
.profile__portrait {
  float: left;
  width: 350px;
  margin-right: 40px;
  border-radius: 50%
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* styling for about.html */
.about-me {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.about-table {
  margin: 0 auto;
}

.about-ul {
  list-style-type: none;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0,50px);
            transform: translate(0,50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0,50px);
            transform: translate(0,50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 43s cloud-move-reverse infinite alternate linear;
          animation: 43s cloud-move-reverse infinite alternate linear;
}

/* Styling for work.html page */
.grid-class {
  max-width: 900px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}

.grid_item {
  background-color: rgba(177, 176, 176, 0.904);
  text-align: center;
}

.work {
  text-align: center;
}

/* Styling for contact.html page */
.contact {
  text-align: center;
}

.contact_info {
  text-align: center;
}

.form {
  text-align: center;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: rgba(255, 255, 255, 0.938);
  text-decoration: none;
  margin-top: 25px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: rgba(255, 255, 255, 0.938);
  text-decoration: none;
  margin-top: 25px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /* Shared code */
  .grid {
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}